/********* FONT FAMILY ************

font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;

***********************************/
:root {
    --mainColor: #e9e6e1;
    --secondaryColor: #d7a884;
    --thirdColor:  #90604c;

    --borderColor: #f3f2ec;

    --textBlack: black;
    --textWhite: #fff;
    --textGray: #333a38;
    --textCream: #f5e9df;
    --textRust: #582905;

    --bgWhite: #f9f7f3;
    --bgRust: #d7a884;
    --bgGray: #dae1da;
    --bgBlue: #eef3f1;

}


article, aside, nav, section, main, header, footer, figure, video, audio {
    display: block;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--mainText);
    font-family: 'Lora', serif;
}

p, li, span, label, input, textarea {
    /* color: var(--secondaryText); */
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--mainText);
    font-family: 'Roboto', sans-serif;
    
}

ul {
    list-style: none;
}

h4 {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: .5em;
    font-weight: 500;

}
/****************************** 

        HEADER WRAPPER

******************************/
header {
    background-color: var(--bgWhite);
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    
}

#main-container, footer {
    padding: 3em 2em 3em 2em;
}




/****************************** 

        NAV WRAPPER

******************************/


nav ul.menu {
    list-style-type: none;
    display: none;
    transition: all .3s ease-out;
}



nav li {
    background-color: var(--bgWhite);
    text-align: center;
    border-bottom: solid 1px #fff;
    transition: all .3s ease-out;
}
nav li:last-child {
    margin-bottom: .6em;
}
nav li a {
    display: block;
    padding: .5em;
    color: var(--textRust);
    text-decoration: none;
    font-weight: 900;

    
}

nav li a:hover {
    background-color: var(--textRust);
    color: #fff;
    transition: all .3s;
}
.showMenu {
        display: block;
        cursor: pointer;
        position: relative;
        top: -1.5em;
        right: 1em;
        color: #fff;
        font-size: 1.75em;
        float: right;
 
    }
.fa-bars {
        font-size: 1em;
        color: var(--textRust);
}

nav input[type=checkbox]:checked ~ ul.menu {
    display: block;
}

nav input[type=checkbox]{
    display:none;
}



/****************************** 

        ABOUT WRAPPER

******************************/

.about-wrapper {
    background-color: var(--bgRust);
}

.about-wrapper h4 {
    color: var(--textRust);
}

.about-wrapper img {
    border-radius: 50%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5em;
    padding-bottom: .5em;
    align-items: center;
}

.about-wrapper p {
    color: var(--textBlack);
    padding: .5em 1.5em 0 1.5em;
    text-align: center;
    font-weight: 300;

}

/****************************** 

        GALLERY WRAPPER

******************************/
.gallery-wrapper {
    background-color: var(--bgWhite);
}

.gallery-wrapper h4 {
    color: var(--textBlack);
}

.container {
    display: flex;
    width: 90vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.panel {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    flex: .5;
    margin: 10px;
    transition: all 700ms ease-in;
}

/* .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
} */

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opactity .3s ease-in .4s;
}

/* @media(max-width: 480px) {
    .container {
        width: 100vw;
    }
    .panel:nth-last-of-type(4),
    .panel:nth-last-of-type(5) {
        display: none;
    }
} */



/****************************** 

        PRICES WRAPPER

******************************/

.prices-wrapper {
    background-color: var(--bgBlue);
}

.prices-wrapper h4 {
    color: var(--textBlack);
}

#priceList {
    width: 100%;
    font-family: 'Roboto', sans-serif;;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: 1em;
    height: auto;
}

#priceList th, #priceList td{
    border: 1px solid #000;
    padding: .5em;
    text-align: center;
    font-size: .9em;
}

#priceList th {
    font-weight: 700;
    background-color: #55615d;
    color: var(--textWhite);
}
tr:nth-child(even){
    color: var(--textBlack);
    background-color: var(--bgWhite);
}

.sizeNote {
    width: 100%;
    text-align: center;
    background-color: var(--bgWhite);
    box-shadow: 1px 1px 3px 2px var(--bgWhite);
    padding: .8em;
}

.sizeNote p {
    font-weight: 300;
    font-size: .8em;
}

/****************************** 

        COMMISSIONS WRAPPER

******************************/
.comm-wrapper {
    background-color: var(--bgWhite);

}
.comm-wrapper h4 {
    color: var(--textBlack);
}

.direct-wrapper {
    border-top: 1px solid var(--textGray);
    border-bottom: 1px solid var(--textGray);
    width: 75%;
    margin-left: auto;
    margin-right: auto;


}
.direct-wrapper strong {
    color: var(--textRust);
}
.direct-wrapper p {
    text-align: center;
    line-height: 2em;
}
.direct-wrapper p:nth-child(odd) {
    color: var(--textGray);
    font-size: 1.2em;
}
.direct-wrapper p:nth-child(even) {
    font-weight: 300;
}


.direct-wrapper p:first-child {
    padding-top: 1em;
}

.direct-wrapper p:last-child {
    padding-bottom: 1em;
}

.booking-wrapper {
    padding-top: .5em;
}

#main-container section {
    text-align: center;
    margin-top: 50px;
}

.booking-wrapper .card {
    /* width: 32%; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
     rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 30px;
}

.booking-wrapper .card:nth-child(2) {
    margin: 10px 0;
}

.booking-wrapper .card i {
    font-size: 50px;
    color: var(--bgRust);
}

.booking-wrapper h5{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
}

.booking-wrapper p {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.2em;
    text-align: justify;
}

/****************************** 

        CONTACT WRAPPER

******************************/
.contact-wrapper {
    background-color: var(--bgBlue);
}

.contact-wrapper h4 {
    color: var(--textBlack);
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--previewBg);
    margin-bottom: 50px;
}

#contact-form label {
    line-height: 2.7em;
    text-align: left;
    font-size: 1em;
    font-weight: 300;
}

#contact-form textarea {
    min-height: 100px;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: .9em;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--textWhite);
    background-color: var(--bgRust);
    border: none;
    font-size: .9em;
    font-weight: 700;
}

/****************************** 

        FOOTER WRAPPER

******************************/
footer {
    background-color: var(--bgWhite);
    text-align: center;
}

footer h5 {
    color: var(--textBlack);
    font-size: 1.2em;
    padding-top: .5em;
    padding-bottom: .5em;
    
}
.description a {
    font-family: 'Lora', serif;
    font-size: 1.2em;
}
.description p {
    font-size: .8em;
    font-weight: 300;
    width: 75%;
    margin: auto;
}

.links li {
    font-size: 1;
}

.links li a:hover {
    color: var(--secondaryColor)};
ul.footer-icons {
    display: block;
    transition: all .5s;
}
ul.footer-icons li{
    display: inline-block;
    font-size: 1.5em; 
}
ul.footer-icons li a {
    color: var(--secondaryColor);
}

ul.footer-icons li a:hover {
    color: var(--textRust);
}
.fa-facebook-square {
    margin: 0 .8em;
}

.fa-twitter-square {
    margin-right: .8em;
}
small{
    display: block;
    padding-top: 1em;
}


/****************************** 

       LARGE SCREEN RULES

******************************/
@media screen and (min-width: 420px) {
    .about-wrapper p{
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 700px) {

    #cover {
        max-width: 1200px;
        margin: auto;
    }

    nav ul.menu {
        padding-top: 20px;
        display: block;
        background-color: var(--bgWhite);
        text-align: center;
        
    }

    nav li {
        background-color: var(--bgWhite);
        display: inline-block;
        border-bottom: none;
        padding: 0 0.5em;
        transition: all .8s ease;
    }

    nav li a {
        color: #000;
        text-decoration: none;
    }
    
    nav li a:hover {
        background-color: var(--bgWhite);
        color: var(--thirdColor);
        /* text-decoration: underline; */
        padding-left: 50px;
        padding-right: 50px;
        transition: all .8s ease;
    }
    
    .showMenu {
        display: none;
    }

    footer {
        text-align: left;
    }

    footer .flex-container {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        
    }

    .links, 
    .description, 
    .icons {
        width: 32%;
    }

    .description .logo {
        padding-top: 0;
    }
    .description .hiddenDescription {
        display: none;
    }

    .links,
    .icons h5 {
        text-align: left;
    }

    .icons li a {
        text-align: left;
    }
    .links a:hover,
    .icons ul li a:hover  {
        /* padding-top: 50px; */
        transition: all .3s ease;
    }
    footer small {
        margin-top: 1em;
        text-align: center;
    }
   
}
    

@media screen and (min-width: 920px) {
    section .booking-wrapper {
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
    }

    .booking-wrapper .card {
        width: 32%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
         rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        padding: 30px;
    }
    
    .card i {
        font-size: 50px;
    }
    
    .booking-wrapper .card p {
        line-height: 150%;
    }

    .booking-wrapper .card:nth-child(2) {
        margin: 0 0;
    }
}
    
    

